/* This is the universal box sizing element */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Generic reset for many elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.hero__section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo {
  color: var(--black-black-100, #fff);
  text-align: center;

  /* h1-85px */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  /* 110.5px */
}

.hero__section-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.navbar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  z-index: 100;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__list li {
  list-style-type: none;
}

.navbar__list a {
  text-decoration: none;
  color: #fff;
}

.navbar-button {
  color: #fff;
  height: 40px;
  display: inline-flex;
  padding: 12px 18px 12px 19px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--gradient-light, rgba(255, 255, 255, 0.47));
  background: var(--gradient-main, linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%));
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-button:hover {
  box-shadow: 0 3px 32px 10px #ef96ff;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.brand {
  position: absolute;
  width: 100%;
}

.brand-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.brand-div p {
  color: var(--black-black-100, #fff);
  text-align: center;

  /* h1-85px */
  font-family: Inter;
  font-size: 85px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  /* 110.5px */
}
